In [1]:
import pandas as pd

In [2]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.0.final.0
python-bits: 64
OS: Linux
OS-release: 4.15.0-20-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: pt_BR.UTF-8
LOCALE: pt_BR.UTF-8

pandas: 0.23.4
pytest: 3.8.0
pip: 18.1
setuptools: 40.2.0
Cython: 0.28.5
numpy: 1.15.1
scipy: 1.1.0
pyarrow: None
xarray: None
IPython: 6.5.0
sphinx: 1.7.9
patsy: 0.5.0
dateutil: 2.7.3
pytz: 2018.5
blosc: None
bottleneck: 1.2.1
tables: 3.4.4
numexpr: 2.6.8
feather: None
matplotlib: 2.2.3
openpyxl: 2.5.6
xlrd: 1.1.0
xlwt: 1.3.0
xlsxwriter: 1.1.0
lxml: 4.2.5
bs4: 4.6.3
html5lib: 1.0.1
sqlalchemy: 1.2.11
pymysql: None
psycopg2: None
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None

In [3]:
import numpy as np

minhalista = list('abcdefghijklmnopqrstuvwxyz')
meuarray = np.arange(26)
meudict = dict(zip(minhalista, meuarray))

In [4]:
serie = pd.Series((minhalista,meuarray,meudict))

In [5]:
serie

0    [a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, ...
1    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
2    {'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': ...
dtype: object

In [6]:
serie.head()

0    [a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, ...
1    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
2    {'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': ...
dtype: object

In [10]:
ser = pd.Series(meudict)

In [11]:
ser = pd.DataFrame({'Índice':ser.index, 'Valor':ser.values})
ser

   Índice  Valor
0       a      0
1       b      1
2       c      2
3       d      3
4       e      4
5       f      5
6       g      6
7       h      7
8       i      8
9       j      9
10      k     10
11      l     11
12      m     12
13      n     13
14      o     14
15      p     15
16      q     16
17      r     17
18      s     18
19      t     19
20      u     20
21      v     21
22      w     22
23      x     23
24      y     24
25      z     25

In [12]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [13]:
df = pd.DataFrame([ser1,ser2])

In [14]:
df.head()

  0  1  2  3  4  5  6  7  8  9  ...  16  17  18  19  20  21  22  23  24  25
0  a  b  c  e  d  f  g  h  i  j ...   q   r   s   t   u   v   w   x   y   z
1  0  1  2  3  4  5  6  7  8  9 ...  16  17  18  19  20  21  22  23  24  25

[2 rows x 26 columns]

In [16]:
alfabeto = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [17]:
# Removendo da variável 'serie1' os itens que estão presentes em 'serie2'

serie1 = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([4, 5, 6, 7, 8])

serie1 = serie1[~serie1.isin(serie2)] # O sinal de negação faz com que a função isin busque apenas elementos que constam na ser1 mas não constam na ser2
serie1

0    1
1    2
2    3
dtype: int64

In [18]:
# Obtendo todos os itens de ser1 e ser2 não comuns em ambas as series

serie1 = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([4, 5, 6, 7, 8])

serie1_new = serie1[~serie1.isin(serie2)] # só existem na serie1
serie2_new = serie2[~serie2.isin(serie1)] # só existem na serie2 

new_serie = serie1_new.append(serie2_new)
new_serie

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

In [19]:
# Calcule o mínimo, 25º percentil, mediana, 75º e o máximo de ‘ser’

ser = pd.Series(np.random.normal(10, 5, 25))

In [33]:
percentil_2_5 = ser.quantile(q=0.25)
percentil_7_5 = ser.quantile(q=0.75)
max_ser = ser.max()
min_ser = ser.min()

print('Mńimo de ser: ', min_ser, end='\n')
print('25º Percentil', percentil_2_5, end='\n')
print('75º Percentil', percentil_7_5, end='\n')
print("Max de 'ser'", max_ser)
ser

Mńimo de ser:  -3.5360375233936185
25º Percentil 6.286465725302683
75º Percentil 14.013279431330165
Max de 'ser' 18.70355343505168

0      0.296235
1     13.221893
2     15.576715
3      8.020193
4     12.382007
5      2.438637
6     14.013279
7     -3.536038
8     18.028140
9      5.015315
10    18.703553
11     6.480315
12    15.287925
13     4.972012
14    13.209910
15    10.617508
16    18.399020
17    11.255709
18    15.397558
19     4.718668
20     6.626036
21     7.792188
22    10.930343
23     6.286466
24     7.172759
dtype: float64

In [116]:
# Da variável ‘ser’, matenha os 2 ítens mais frequentes como estão e substitua todo o resto por ‘Outro’.

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     2
1     4
2     1
3     2
4     3
5     2
6     3
7     1
8     1
9     2
10    4
11    1
dtype: int64

In [117]:
from operator import itemgetter

dic = {}

for i, v in enumerate(ser):
    if v in dic:
        dic[v] = dic[v] + 1
    else:
        dic[v] = 1
dic = dict(sorted(dic.items(), key=itemgetter(1), reverse=False)) #ordenando dict pelos valores / use itemgetter(0) para order pela chave
lista = list(dic)

print('Valor e frequencia:', dic)
print('Lista de frequencia do menor para o maior:', lista)

del lista[-1]
del lista[-1]

print('Lista com elementos que devem ser substituidos:', lista)

for i in lista:
    ser.replace(i, 'Outro', inplace=True)
ser

Valor e frequencia: {4: 2, 3: 2, 2: 4, 1: 4}
Lista de frequencia do menor para o maior: [4, 3, 2, 1]
Lista com elementos que devem ser substituidos: [4, 3]

0         2
1     Outro
2         1
3         2
4     Outro
5         2
6     Outro
7         1
8         1
9         2
10    Outro
11        1
dtype: object

In [141]:
#Segunda solução

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)
print(ser.value_counts()) # contando a quantidade de vezes que cada elemento da serie se repete

0     4
1     3
2     4
3     2
4     3
5     1
6     1
7     3
8     1
9     2
10    3
11    2
dtype: int64
3    4
2    3
1    3
4    2
dtype: int64

In [144]:
# Faz um slicing na serie, separando os 2 elementos com mais frequencias
# Faz um NOT IN, verificando quais elementos não estão no intervalo informado( index[:2])
# No lugar desses elementos é colocada a string 'Outros'

ser[~ser.isin(ser.value_counts().index[:2])] = 'Outros'
ser

0     Outros
1          3
2     Outros
3     Outros
4          3
5     Outros
6     Outros
7          3
8     Outros
9     Outros
10         3
11    Outros
dtype: object

In [157]:
#Coloque a série ‘ser’ em 10 decílios(decile) iguais e substitua os valores pelo decil que cada elemento representa

ser = pd.Series(np.random.random(20))

In [158]:
ser

0     0.380760
1     0.123701
2     0.262324
3     0.153406
4     0.983127
5     0.687946
6     0.949245
7     0.219424
8     0.350218
9     0.397932
10    0.573525
11    0.680451
12    0.956395
13    0.658875
14    0.647507
15    0.453349
16    0.141215
17    0.425492
18    0.959216
19    0.546031
dtype: float64

In [159]:
ser = pd.qcut(ser, q=[0,0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0], 
              labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'])

In [160]:
ser

0      4th
1      1st
2      3rd
3      2nd
4     10th
5      8th
6      9th
7      2nd
8      3rd
9      4th
10     6th
11     8th
12     9th
13     7th
14     7th
15     5th
16     1st
17     5th
18    10th
19     6th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

In [214]:
# Da variável ‘ser’ extraia palavras que contenham 2 vogais ou mais

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
vogais = ['a','e','i','o','u']
dic = {}

for i in ser:
    dic[i] = 0
    for j in i.lower():
        if j in vogais:
            dic[i] = dic[i] + 1

dic_new = [k for k, v in dic.items() if v >= 2]
ser_new = pd.Series(dic_new)

print(ser, end='\n\n')
print(ser_new)

0     Apple
1    Orange
2      Plan
3    Python
4     Money
dtype: object

0     Apple
1    Orange
2     Money
dtype: object

In [220]:
#Extraia emails válidos da série ’emails’. O padrão de regex para emails válidos é fornecido em ‘padrao’.

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
padrao ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

emails[emails.str.contains(padrao, regex=True)]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object